/* HERO */
#hero {
  background: var(--light-gray);
  border-top: 0.125rem solid #e6dfd2;
  height: 90vh;
  display: flex;
  overflow: hidden;
}

/* Pequeno (esquerda) */
#hero>span {
  position: absolute;
  top: 0;
}

/* Grande (direita) */
#hero>img {
  position: absolute;
  right: 0;
  height: 60%;
  padding-left: 30%;
}

/* Texto */
#hero p {
  color: var(--second-text-color);
}

/* Conteúdo central */
#hero .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  text-align: center;
  gap: 1.75rem;
  padding-block: var(--py-xl);
}

/* Botões */
#hero .content>div {
  width: fit-content;
  align-self: center;
  margin-bottom: 20%;
}

/* “Olá” */
#hero .content p:first-of-type {
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}

/* Desktop */
@media (width >=1280px) {
  #hero {
    background: var(--bg-color);
    border-top: none;
  }

  #hero>img {
    top: 0;
    right: 0;
    height: 82%;
    padding-left: 55%;
  }

  #hero .content p {
    width: 80%;
    align-self: center;
  }

  #hero .content {
    gap: 2.5rem;
  }

  #hero .content>div :first-child {
    width: 10.625rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  #hero {
    height: auto;
    padding-bottom: 4rem;
  }

  #hero .content {
    margin-top: 0;
    gap: 1.5rem;
  }

  #hero>img {
    top: 10;
    height: 65%;
    padding-left: 55%;
  }

  #hero>span img {
    width: 90px;
    height: auto;
  }

  #hero .content>div {
    margin-bottom: 10%;
  }
}